@import "tailwindcss";
@config "./tailwind.config.js";

@layer base {
    body {
        @apply antialiased bg-[#050505] text-[#e5e5e5];
        font-family: 'Outfit', sans-serif;
    }

    /* Custom selection color */
    ::selection {
        background: rgba(212, 175, 55, 0.3);
        /* Gold tint */
        color: white;
    }
}

@layer utilities {
    .lesson-rail {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .lesson-rail::-webkit-scrollbar {
        display: none;
    }
}